<h3>Total Price: {{ totalProducts }}</h3>
<h2>Selected Category is {{selectedCatId}}</h2>
<select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCatId">
    @for(cat of categories; track cat.id) {
        <option value="{{cat.id}}">{{cat.name}}</option>
    }
</select>

<div class="row row-cols-md-4 mt-3 row-cols-1 g-4">
    @for (product of products; track product.id) {
        <div class="col"
        [class.d-none]="selectedCatId != 0 && selectedCatId != product.catId">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
                <div class="card-body"
                [ngStyle]="{backgroundColor: product.quantity <= 0 ? 'yellow' : 'white'}"
                >
                @if(product.isSpecial) {
                    <span class="badge bg-danger" [ngStyle]="currentStyles">Special Offer</span>
                }
                @else {
                    <ng-container *ngTemplateOutlet="noOffers"></ng-container>
                }
                <h5 class="card-title" [ngStyle]="currentStyles">{{$index + 1}}: {{ product.name }}</h5>
                <p class="card-text" [ngStyle]="currentStyles">Price: {{ product.price }}</p>
                @if(product.quantity > 0) {
                    <p class="card-text">Quantity: {{ product.quantity }}</p>
                }
                @else {
                    <p class="card-text text-danger">Out of Stock</p>
                }
                <input type="number" #Count/>
                <button class="btn btn-danger m-1" (click)="Buy(Count.value, product)">Buy it</button>
                </div>
            </div>
        </div>
    }
    @empty {
        <h2>No Products Found</h2>
    }
</div>

<ng-template #noOffers>
    <span class="badge bg-warning">No Offers</span>
</ng-template>